

@keyframes pound {
	from { transform: none; }
	50% { transform: scale(1.4); }
	to { transform: none; }
}



.anekdot{
    text-align: center;
    color: rgb(120,33,3);
    animation: pound 5s infinite;   
}

.anekdotBody {
    text-align: center;
    color: rgb(43, 152, 191); 
}

textarea {
    background-image: url("../../assets/background.jpg");
      background-color: rgb(169, 193, 208);
      background-size: 100%,100%, contain; 
      background-blend-mode: color-dodge;
 
    overflow:auto; 
 
}

ul {
    list-style-type: none;
  }


  audio { 
    display:none;
 }


 .fileSent{
  font-size: 50px; 
  color: rgb(16, 39, 210);
  animation: pound 5s infinite;

}

.delete{
  color: red;      
   z-index: 1;
}

 @-webkit-keyframes background {
    0% { background-color: #f99; }
    33% { background-color: #9f9; }  
    67% { background-color: rgb(181, 181, 201); }
    100% { background-color: #f99; }
  }
  
  @keyframes background {
    0% { background-color: rgb(197, 223, 174); }
    33% { background-color: #9f9; }  
    67% { background-color: rgb(185, 185, 222); }
    100% { background-color: rgb(237, 86, 86); }
  }

  .buttonNext{
    height: 50px;
    width:100px; 
    color:blue;
    background: yellow;       
    top: 75%;
    right: 0;
    position: fixed; 
    display:inline-block;
    overflow: auto;  

}

.buttonPrevious{
  height: 50px;
  width:100px; 
  color:blue;
  background: yellow;       
  top: 85%;
  right: 0;
  position: fixed; 
  display:inline-block;
  overflow: auto;  

}

.text ul {
  width: 100%; 

  padding:0px; 

}